[submodule "themes/terminal"]
	path = themes/terminal
	url = git@github.com:techbarrack/terminal-hugo-theme.git
[submodule "themes/hugo-theme-stack"]
	path = themes/hugo-theme-stack
	url = https://github.com/CaiJimmy/hugo-theme-stack/
