[submodule "themes/terminal"]
	path = themes/terminal
	url = git@github.com:techbarrack/terminal-hugo-theme.git
[submodule "themes/hugo-profile"]
	path = themes/hugo-profile
	url = https://github.com/gurusabarish/hugo-profile.git
